@import "tailwindcss";

@theme inline {
  --font-bebas-neue: var(--font-bebas-neue);
  --font-damn: var(--font-damn);
  --font-manrope: var(--font-manrope);

  --color-red: rgba(227, 60, 0, 1);
  --color-green: rgba(58, 140, 114, 1);
  --color-green-light: rgba(58, 140, 114);
  --color-green-extralight: rgba(38, 161, 123, 1);
  --color-yellow: rgba(248, 197, 32, 1);

  --color-border-secondary: rgba(0, 0, 0, 0.25);
  --color-border-primary: rgba(0, 0, 0);

  --color-progress-bg: rgba(255, 240, 231, 1);
  --color-input-bg: rgba(240, 219, 206, 1);
  --color-text-secondary: rgba(1, 1, 1, 0.35);

  --text-static-section-title: 32px;
  --text-static-input-text: 18px;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply font-bebas-neue;
  }
  button {
    cursor: pointer;
  }
  input {
    @apply bg-input-bg border border-solid rounded-[8px] text-static-input-text leading-none text-text-secondary px-[12px] h-[36px];
  }
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .text {
    @apply text-[12px] sm:text-[16px] leading-none;
  }
  .description {
    @apply text-[10px] sm:text-[12px] leading-none;
  }
  .subsectionTitle {
    @apply text-[20px] sm:text-[16px] xl:text-[20px] 2xl:text-[24px] leading-none;
  }
  .confirmText {
    @apply text-[16px] xl:text-[18px] 2xl:text-[20px] leading-none;
  }
  .primaryText {
    @apply text-[20px] md:text-[24px] xl:text-[32px] leading-none;
  }
  .rounded {
    @apply rounded-[8px];
  }
  .withShadow {
    @apply shadow-[0_3px_0_0_rgba(0,0,0,0.25)];
  }
}

@layer components {
  .card {
    @apply border border-solid border-border-primary bg-white rounded-[8px];
  }
  .secondaryCard {
    @apply border border-solid border-border-secondary bg-white rounded-[8px];
  }
  .overlay {
    @apply absolute inset-0 bg-black rounded-lg opacity-0 group-hover:opacity-5 transition-opacity;
  }
  .disabledButton {
    @apply bg-[rgba(212,212,212,1)] 
    px-3 py-1 
    rounded-[8px]
    font-bold 
    text-sm 
    sm:text-base 
    md:text-lg 
    lg:text-[24px]
    text-text-secondary 
    leading-tight
    cursor-auto;
  }
  .linkButton {
    @apply border border-solid border-black bg-white rounded-[8px] text-center leading-none text-[14px];
  }
  .notification {
    @apply rounded-full bg-red border border-border-primary font-manrope text-white font-bold flex items-center justify-center;
  }
}
