@import "tailwindcss";

@theme inline {
  --breakpoint-sm: 900px;
  --breakpoint-md: 1200px;

  --font-bebas-neue: var(--font-bebas-neue);
  --font-damn: var(--font-damn);
  --font-manrope: var(--font-manrope);
}

@layer base {
  * {
    box-sizing: border-box;
    vertical-align: middle;
  }
  body {
    @apply font-bebas-neue leading-none tracking-normal;
  }
  button {
    cursor: pointer;
  }
  input {
    @apply bg-[rgba(240,219,206)] border border-solid rounded-[8px] text-[18px] leading-none text-[rgba(1,1,1,0.35)] px-[12px] h-[36px];
  }
}
